<div class="cardMonitoring">
	<h4 class="ico">{% include './_functional/_uxIcon.html.twig' %} &nbsp; &nbsp;
		<a href="{{monitoring.url}}" target="_blank">{{monitoring.title}}</a>
	</h4>
	{{monitoring.content }}
</div>
