<div class="{{skill.progressbar}}">
	<div>
		{{skill.name}}
	</div>
	<div class="progressBar">
		<img src="{{asset('pictures/bar.webp') }}" alt="ligne de progression de compétence {{skill.name}}">
	</div>
</div>
