@import "../params/variables.scss";

.containerSectionPassword {
  width          : 100%;
  margin         : 0 auto;
  text-align     : start;
  display        : flex;
  flex-direction : column;
  align-content  : center;
  align-items    : center;
  justify-content: space-evenly;

  img {
    border-radius: 60% 60% 50% 70%;
    padding      : 2rem;
  }

  >div {
    max-width: 100%;
  }

 >div:first-child {
    background-color: $transparent_violet;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
  }

  button a {
    color: $black;
  }
  button a:hover {
    color           : $blue;
  }
}

@media screen and (min-width: 600px) {
  .containerSectionPassword {
    flex-direction: row;
    >div {
      max-width: 50%;
    }
  }
}
