$white      : #ffffff;
$white_inter: #f4f3f0;
$salmon     : #ede4dc;
$black      : #323232;
$blue       : #374979;
$blue_pencil: #66869e;
$blue_light : #b0c1f0;
$or         : #aaa784;
$red        : rgba(255, 0, 0, 0.204);

$transparent_black      : #0000007f;
$transparent_black_light: #01010163;
$transparent_black_dark : #171717e9;
$transparent_white      : $white_inter;
$transparent_violet     : #70607d18;

$box_shadow            : 2px 2px 2px #2a152b13;
$box_shadow_blue_pencil: 10px 5px 5px #66879f;

$text-shadow: 2px 2px 2px #323232;

$border_navone: 3px rgba(255, 255, 255, 0.056) solid;
$border_white : rgba(255, 255, 255, 0.056);